<div class="subsection">
  <div class="row">
    <span>Open</span>
    <span>Østerågade 27, 9000</span>
    <span>Aalborg</span>
  </div>
  <div class="row">
    <span>+45 11 22 33 44</span>
    <span>aalborg@flexybox.com</span>
    <button>Support</button>
  </div>
</div>