<div class="section">
  <div class="subsection">
    <h2>Opening hours</h2>
  </div>

  <div class="subsection scroll-container">
    <input name="hours" id="a" type="radio" checked>
    <label for="a">Restaurant</label>

    <input name="hours" id="a" type="radio">
    <label for="a">Takeaway</label>

    <input name="hours" id="a" type="radio">
    <label for="a">Buffet</label>

    <input name="hours" id="a" type="radio">
    <label for="a">Special Events</label>
  </div>
  <div class="subsection opening-hours">
    <dl>
      <dt>Monday - Thursday</dt>
      <dd>07:00 - 22:00</dd>

      <dt>Friday</dt>
      <dd>07:00 - 22:00</dd>

      <dt>Saturday</dt>
      <dd>07:00 - 22:00</dd>

      <dt>Sunday</dt>
      <dd>07:00 - 22:00</dd>

      <dt>Holidays</dt>
      <dd>Closed</dd>
    </dl>
  </div>
</div>