@code {
  [Parameter]
  public required List<OpeningHoursModel> OpenHours { get; set; }
}

<div class="section">
  <div class="subsection">
    <h2>Opening hours</h2>
  </div>

  <div class="subsection scroll-container">
    @for (int i = 0; i < OpenHours.Count; i++)
    {
      <input name="hours" id="a" type="radio" checked="@(i == 0)">
      <label for="a">@OpenHours[i].Name</label>
    }
  </div>
  <div class="subsection opening-hours">
    <dl>
      @foreach (var (day, description) in OpenHours[0].GetOpeningHoursSummary())
      {
        <dt>@day</dt>
        <dd>@description</dd>
      }
    </dl>
  </div>
</div>