@page "/"

@code {
  private List<RestaurantModel> restaurants = RestaurantService.GetAll();
}

<div class="page">
  <div class="section">
    <div class="subsection">
      <div class="title">
        <h1>Welcome to Flexybook</h1>
      </div>
    </div>
    <div class="subsection">
      <p>Explore our collection of restaurants.</p>
    </div>
  </div>
  <div class="subsection">
    <h2>Featured Restaurants</h2>

    @if (restaurants.Count == 0)
    {
      <p>No restaurants available.</p>
      return;
    }

    @foreach (var restaurant in restaurants)
    {
      <NavLink href="@("/restaurant/" + restaurant.Name)" Match="NavLinkMatch.All">
        @restaurant.Name
      </NavLink>
    }
  </div>
</div>
