.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page {
  display: flex;
  flex-direction: column;
  background: black;
}

.section {
  flex: 1;
  background: grey;
  margin: 10px;
}

.subsection {
  background: lightgrey;
  margin: 10px;
}

.scroll-container {
  overflow: auto;
  white-space: nowrap;
}

img {
  height: 300px;
  border-radius: 20px;
}

div.opening-hours {
  dl {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  dd {
    text-align: right;
  }
}

.row {
  display: flex;
  gap: 20px;
}
