body {
  font-family: "Nunito Sans";
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  gap: 16px;
}

button, label {
  background: rgba(204, 204, 204, 0.2);
}

button {
  padding-left: 6px;
  padding-right: 6px;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  user-select: text;
}

dl {
  margin: 0;
}

.fa-solid:not(.fa-heart) {
  color: rgba(160, 207, 164, 1);
}

.fa-circle {
  padding-right: 6px;
  padding-left: 2px;
}

h1, h2, h3, h4, h5, h6 {
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-8xs {
  font-size: 0.25em;
  line-height: 0.03em;
  vertical-align: 1.1em;
}

.fa-4xs {
  font-size: 0.375em;
  line-height: 0.05em;
  vertical-align: 0.6em;
}

img {
    height: 195px;
    width: 350px;
    object-fit: cover;
    flex-shrink: 0;
    display: block;
    border-radius: 6px;
}
